:root {
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-pink-400: #ff5e7d;
  --color-orange-300: #ff8b64;
  --color-yellow-300: #f1c75b;
  --color-green-400: #4bcf82;
  --color-grey-200: #d8d8d8;
  --color-navy-200: #bbc0ff;
  --color-navy-800: #33397a;
  --color-navy-900: #1c204b;
  --color-navy-950: #0e1323;
  --color-blue-300: #55c2e6;
  --color-purple-500: #7078c9;
  --color-purple-600: #5747ea;
  --color-purple-700: #7335d2;
}
